@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

:root {
  --background: #131313;
  --background-section: #212121;
  --color-text: #e7bd70;
  --color-border: #191919;
  --color-link: #f2f2f2;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*HEADER Y FOOTER*/
header,
footer {
  width: 100%;
  height: 100px;
  background-color: var(--background);
}

/*LOGO DEL SITIO*/
#Header-Logo {
  text-align: center;
  line-height: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
}

/*MENÚ DE NAVEGACIÓN*/

nav {
  min-width: 200px;
  margin: 0 auto;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--background);
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

nav ul li {
  width: 200px;
  margin: 0px 20px;
  list-style-type: none;
  text-align: center;
}

.list-item-link {
  position: relative;
  display: inline-block;
  padding: 15px 15px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-link);
  border: none;
  outline: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.list-item-link:hover {
  color: var(--color-text);
}

/*MAIN*/
main {
  width: 100%;
  min-height: 79.1vh;
}

/*VISTA TITLE - SUBTITLE*/
.Vista-Title {
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  font-family: "Josefin Sans", sans-serif;
}

.Vista-Title h2 {
  font-size: 1.8rem;
}

.Vista-Title h3 {
  font-size: 1.5rem;
}

/*Footer*/
#Footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Footer>p {
  font-family: "Josefin Sans", sans-serif;
  color: var(--color-link);
  text-align: center;
}

#Footer>p>a {
  font-size: 1rem;
  color: var(--color-text);
}

/*
VISTA DE HOME
  Section-1
  Section-2
  Section-3
  Section-4
  Section-5
*/

#Section-1,
#Section-2,
#Section-3,
#Section-4,
#Section-5 {
  width: 100%;
  min-height: 120px;
  margin: 0 auto;
}

#Section-1 {
  background-color: var(--background-section);
}

#Section-1-Container {
  max-width: 1200px;
  height: 600px;
  margin: 0 auto;
  padding: 40px;
}

#Section-1-Container>#Section-1-Content {
  background-color: var(--background-section);
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Section-1-Container>#Section-1-Content>h2 {
  text-align: center;
  font-size: 2.3rem;
  color: var(--color-text);
  padding: 10px;
  margin-bottom: 10px;
}

#Section-1-Content>#Section-1-text {
  border-top: 2px solid var(--color-text);
  padding-top: 10px;
}

#Section-1-Content>#Section-1-text>p {
  font-size: 1.2rem;
  color: var(--color-link);
  padding: 10px;
}

#Section-2 {
  background-color: var(--background-section);
}

#Section-2-Content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Section-2-Content-Left {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#Section-2-Content-Left>h2 {
  font-size: 3rem;
  color: var(--color-text);
  font-family: "Josefin Sans", sans-serif;
}

#Section-2-Content-Left>h2:hover {
  text-decoration: underline;
}

#Section-2-Content-Left>p {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-link);
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
}

#Section-2-Content-Right {
  width: 100%;
  height: 100%;
}

#Section-2-Content-Right>img {
  max-width: 100%;
  height: auto;
}

#Section-3 {
  background-color: var(--background-section);
}

#Section-3-Content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#Section-3-Content-Left {
  width: 100%;
  height: 100%;
}

#Section-3-Content-Left>img {
  max-width: 100%;
  height: auto;
}

#Section-3-Content-Right {
  width: 100%;
  height: 100%;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#Section-3-Content-Right>h2 {
  font-size: 3rem;
  color: var(--color-text);
  font-family: "Josefin Sans", sans-serif;
  text-decoration: underline;
}

#Section-3-Content-Right>p {
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-link);
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.5;
}

#Section-4 {
  background-color: var(--color-border);
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#Section-4-Content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

#Section-4-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  padding: 15px;
}

.Section-4-items {
  width: 30%;
  min-height: 200px;
  padding: 10px;
  box-shadow: 0px 0px 3px #e7bd70;
  transition: all 500ms ease;
  border-radius: 15px;
}

.Section-4-items:hover {
  box-shadow: 0px 0px 15px #e7bd70, 0px -0px 4px #e6b980;
  transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
    transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.Section-4-item-header {
  text-align: center;
  padding: 5px;
}

.Section-4-item-header>img {
  filter: invert(var(--value, 100%));
}

.Section-4-item-text {
  padding: 20px;
  color: var(--color-link);
}

.Section-4-item-text h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 10px;
}

/*VISTA DE PRODUCTOS*/
#Productos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style-type: none;
}

/*PRODUCTOS CARD*/
.Producto-card {
  width: 430px;
  min-height: 700px;
  margin: 20px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/*PRODUCTOS HEADER*/
.Producto-header {
  width: 100%;
  height: 415px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Producto-Imagen {
  width: inherit;
  height: inherit;
  text-align: center;
}

/*PRODUCTOS MAIN*/
.Producto-main {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Producto-title {
  width: calc(100% - 10px);
  height: 60px;
  line-height: 60px;
}

.Producto-title h4 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
}

.line {
  width: 80%;
  height: 2px;
  background-color: var(--color-border);
  margin: 0 auto;
}

.Producto-categoria>p {
  text-align: center;
  background-color: #212121;
  color: #f2f2f2;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  border-radius: 999px;
  max-width: 250px;
  padding: 10px;
  margin: 10px auto;
}

.Producto-text {
  width: 80%;
  margin: 20px auto;
  min-height: 150px;
}

.Producto-text p {
  text-align: left;
  font-size: 1.2rem;
}

/*PRODUCTOS FOOTER*/
.Producto-footer {
  width: 100%;
  height: 100px;
  padding-bottom: 20px;

  /*FLEXBOX*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.Precio {
  padding: 5px 15px;
  font-size: 1.2em;
  color: green;
  font-weight: bold;
}

.Producto-btn {
  border: 3px solid green;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: green;
  font-size: 1.2em;
  font-weight: 550;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  color: rgb(236, 236, 236);
}

.Producto-btn:hover {
  background: green;
  color: #ccc;
  padding: 10px;
}

/*PRODUCTOS INFORMACIÓN*/
#Producto-Info {
  max-width: 1000px;
  width: 60%;
  margin: 20px auto;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

  /*FLEXBOX*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#Producto-Info-IMG {
  width: 40%;
  height: inherit;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
}

#Producto-Info-IMG img {
  width: 150px;
  height: 410px;
}

#Producto-Info-TEXT {
  width: 60%;
  height: inherit;
  padding: 15px;
  box-sizing: border-box;
}

#Producto-Info-TEXT>h2 {
  font-size: 1.4rem;
}

#Producto-Info-TEXT>p {
  padding-top: 20px;
  font-size: 1.1rem;
}

/*VISTA DE CONTACTO*/
#Contacto-Container,
.log-reg-Container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
}

#Form-container,
.log-reg-form {
  width: 90%;
}

#Contacto-Container>h2 {
  margin-bottom: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group input,
.form-group textarea {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #191919;
  outline: none;
}

.form-group textarea {
  resize: none;
}

#contacto-btn,
.log-reg-btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid var(--color-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  color: var(--color-border);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
  text-align: center;
}

#contacto-btn:hover,
.log-reg-btn:hover {
  background: var(--color-text);
  box-shadow: 0 0 30px 5px var(--color-text);
  transition: all 0.2s ease-out;
}

/*VISTA DE ERROR 404*/
#Error {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

#Error-Content {
  padding: 50px;
  width: 50%;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}

#Error-header h2 {
  font-size: 2em;
  font-family: "Josefin Sans", sans-serif;
}

#Error-header h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2em;
}

#Error-main {
  margin: 20px auto;
  text-align: center;
}

#Error-main img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

#Error-footer {
  width: 100%;
  text-align: center;
}

#Error-btn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid #e7bd70;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  color: var(--color-border);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

#Error-btn:hover {
  background: #e7bd70;
  box-shadow: 0 0 10px 5px #e7bd70;
  transition: all 0.2s ease-out;
}

/*RESPONSIVE*/
@media screen and (max-width: 768px) {
  nav ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  #Section-2-Content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #Section-2-Content-Left {
    padding: 0px;
  }

  #Section-2-Content-Right {
    padding: 0px;
    padding-top: 40px;
    text-align: center;
  }

  #Section-3-Content {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  #Section-3-Content-Left {
    padding: 0px;
    padding-top: 40px;
    text-align: center;
  }

  #Section-3-Content-Right {
    padding: 0px;
  }

  #Section-4-header {
    flex-direction: column;
    align-items: center;
  }

  .Section-4-items {
    width: 90%;
    margin-bottom: 30px;
  }

  .Producto-title h4 {
    text-align: center;
    font-size: 1rem;
    font-family: "Josefin Sans", sans-serif;
  }

  .Producto-text p {
    font-size: 1rem;
    line-height: 1.2;
  }

  /*PRODUCTOS INFORMACIÓN*/
  .Producto-card {
    width: 300px;
    margin: 10px 0px;
  }

  #Producto-Info {
    width: 90%;
    margin: 20px auto;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

    /*FLEXBOX*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  #Producto-Info-IMG {
    width: 100%;
    height: inherit;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
  }

  #Producto-Info-IMG img {
    width: 150px;
    height: 410px;
  }

  #Producto-Info-TEXT {
    width: 100%;
    height: inherit;
    padding: 15px;
    box-sizing: border-box;
  }

  #Producto-Info-TEXT>h2 {
    font-size: 1.4rem;
  }

  #Producto-Info-TEXT>p {
    padding-top: 20px;
    font-size: 1.1rem;
  }

  #crear-productos-btn {
    min-width: 220px;
  }
}

/*Productos*/
#container-admin-productos {
  background-color: #e7bd70;
  width: 260px;
  border-radius: 999px;
  margin-bottom: 20px;
}

#container-admin-productos>a {
  display: block;
  padding: 15px 15px;
  color: #f2f2f2;
  transition: all 300ms ease;
  font-family: "Josefin Sans", sans-serif;
}

#container-admin-productos>a:hover {
  color: #131313;
}

/*Productos botones de acción*/
.btn-editar-producto,
.btn-borrar-producto {
  display: block;
  width: 80px;
  height: 60px;
  line-height: 60px;
  background-color: #e7bd70;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  margin: 10px auto;
  text-align: center;
}

.btn-editar-producto:hover,
.btn-borrar-producto:hover {
  color: #131313;
}

/*CSS TABLA DE PRODUCTOS*/
.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.table-texto {
  min-width: 320px;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table td img {
  max-width: 100%;
  height: auto;
}

table td a {
  margin-right: 10px;
  color: var(--color-text);
  text-decoration: none;
}

table td a:hover {
  color: var(--background-section);
}

/*CSS CREAR PRODUCTOS*/
#crear-productos,
#editar-productos {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 5px;
}

#crear-productos-form,
#editar-productos-form {
  width: 90%;
}

#crear-productos-form>.form-fila,
#editar-productos-form>.form-fila {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  width: 100%;
}

#crear-productos-form>.form-fila>label {
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

#crear-productos-form>.form-fila>input,
#crear-productos-form>.form-fila>textarea,
#crear-productos-form>.form-fila>#estados_publicacion_fk,
#crear-productos-form>.form-fila>#categorias_fk,
#editar-productos-form>.form-fila>input,
#editar-productos-form>.form-fila>textarea,
#editar-productos-form>.form-fila>#estados_publicacion_fk,
#editar-productos-form>.form-fila>#categorias_fk {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#crear-productos-form>.form-fila>input:focus,
#crear-productos-form>.form-fila>textarea:focus,
#editar-productos-form>.form-fila>input:focus,
#editar-productos-form>.form-fila>textarea:focus {
  border-color: #191919;
  outline: none;
}

#crear-productos-form>.form-fila>textarea,
#editar-productos-form>.form-fila>textarea {
  resize: none;
}

/*CREAR PRODUCTOS VALIDACIONES*/
#help-titulo {
  color: gray;
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

#error-titulo,
#error-sinopsis,
#error-descripcion,
#error-price {
  color: red;
  font-size: medium;
}

#error-titulo::before,
#error-sinopsis::before,
#error-descripcion::before,
#error-price::before {
  content: "✘";
  display: inline-block;
  margin-right: 5px;
}

#crear-productos-btn {
  width: 100%;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid var(--color-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  background: transparent;
  color: var(--color-border);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

#crear-productos-btn:hover {
  background: var(--color-text);
  box-shadow: 0 0 30px 5px var(--color-text);
  transition: all 0.2s ease-out;
}

/*ELIMINAR PRODUCTO*/
#Producto-Eliminar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100px;
  margin: 40px auto;
  border-radius: 15px;
  border-top: 2px solid var(--color-text);
  border-bottom: 2px solid var(--color-text);
}

#Producto-Eliminar>h2 {
  color: #212121;
  text-align: center;
}

#Producto-Eliminar>form>button {
  width: 100%;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  font-family: "Josefin Sans", sans-serif;
  border: 1px solid var(--color-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  background: var(--color-text);
  color: var(--color-border);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}

#Producto-Eliminar>form>button:hover {
  box-shadow: 0 0 10px 1px var(--color-text);
  transition: all 0.2s ease-out;
}

#Cerrar-Sesion-btn {
  background-color: #131313;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1.2rem;
  border: 1px dashed #e7bd70;
  border-radius: 15px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 300ms ease-in;
}

#Cerrar-Sesion-btn:hover {
  background-color: #e7bd70;
  color: black;
}

.mensajeExito {
  color: green;
  background-color: greenyellow;
  padding: 10px 0px;
  text-align: center;
}

.mensajeError {
  color: #F1F1F1;
  background-color: #B63425;
  padding: 10px 0px;
  text-align: center;
}

#administrador-container {
  border-radius: 15px;
  border: 1px solid var(--color-border);
  max-width: 1400px;
  margin: 40px auto;
}

#administrador-container>div {
  border-radius: 15px 15px 0px 0px;
  background-color: var(--background);
  padding: 20px;
}

#administrador-container>div>h2 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: var(--color-text);
}

#administrador-container>#administrador-content {
  border-radius: 0px 0px 15px 15px;
  background-color: #212121;
  padding: 10px;
}

#administrador-container>#administrador-content>h2 {
  text-align: center;
  color: #f2f2f2;
}

#administrador-container>#administrador-content>p {
  text-align: center;
  color: #f2f2f2;
}

#administrador-container>#administrador-content>.card-item {
  background-color: #f2f2f2;
  margin: 14px auto;
  width: 100%;
  padding: 10px;
}

#administrador-container>#administrador-content>.card-item>h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--color-border);
}

#administrador-container>#administrador-content>.card-item>ul {
  list-style-type: circle;
  margin-left: 30px;
}

#buscador-productos {
  height: 40px;
  margin: 0px auto;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#buscador-productos>h2 {
  text-align: left;
  display: block;
}

#buscador-productos>form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

#buscador-productos>form>div>label {
  font-size: 0px;
  display: none;
  visibility: hidden;
}

#buscador-productos>form>div>input[type="search"] {
  padding: 4px;
  border-radius: 15px 0px 0px 15px;
  border: none;
  margin-left: 10px;
  border: 1px solid #e7bd70;
  width: 60%;
}

#buscador-productos>form>div>button {
  width: 70px;
  height: 25px;
  padding: 4px;
  background-color: #ffffff;
  border: none;
  border: 1px solid #e7bd70;
  margin-left: -4px;
  border-left: 1px solid gainsboro;
  border-radius: 0px 15px 15px 0px;
}